cloud:
  aws:
    enabled: true
    credentials:
      access-key: ACCESS_KEY # this is for local testing, pls use AWS Secret Manager
      secret-key: SECRET_KEY # this is for local testing, pls use AWS Secret Manager
    region: AWS_REGION
    s3:
      enabled: true
      template:
        bucket: s3-bucket-eric6166
    sqs:
      enabled: true
      template:
        delay-seconds: 0
        max-number-of-messages: 10
