cloud:
  aws:
    enabled: true
    credentials:
      access-key: AWS_ACCESS_KEY # this is for local testing, pls use AWS Secret Manager
      secret-key: AWS_SECRET_KEY # this is for local testing, pls use AWS Secret Manager
    region: AWS_REGION
    s3:
      enabled: true
    sqs:
      enabled: true
